


<form action="/login" method="POST">
    <h2><%=locals.title%></h2>
    <input type="text" placeholder="username"  name="username" >
    <input type="password" placeholder="password" name="password" >
    <small class="text-danget"><%= locals.err %> </small>
    <input type="submit" value="login">
</form>